<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataAdapterSoap" />
                <binding name="DataAdapterSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://awg.autoremarketers.com/webapp/webservices/dataadapter.asmx"
                binding="basicHttpBinding" bindingConfiguration="DataAdapterSoap"
                contract="AWGService.DataAdapterSoap" name="DataAdapterSoap" />
            <endpoint address="http://abssandbox.autoremarketers.com/webapp/webservices/dataadapter.asmx"
                binding="basicHttpBinding" bindingConfiguration="DataAdapterSoap1"
                contract="AWGService.DataAdapterSoap" name="DataAdapterSoap1" />
        </client>
    </system.serviceModel>
</configuration>